# Node modules
node_modules/

# Build output
dist/
build/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.local
.env.*.local

# MacOS files
.DS_Store

# IDE specific files
.idea/
.vscode/
*.sublime-workspace
*.sublime-project

# Tailwind CSS files
/public/css/tailwind.css
